@import "variables";
@import "extends";

/********************
      UTILITY
********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/********************
      STYLE
*********************/
body {
  background-color: $bg-color;
  color: $fg-color;
  @extend %font;
  height: 100vh;

  & > div {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    width: $width;
    max-width: $max-width;
    margin: auto;

    /********************
           HEADING
    *********************/
    header {
      flex: 0 1 auto;
      h1 {
        font-size: $heading-l;
        padding: 0;
        margin: 1.5rem 0 1.5rem 0;
        font-weight: 400;
        text-align: justify;
      }
    }
    /********************
          CONTROLS
    *********************/
    section {
      flex: 0 1 auto;

      form {
        display: grid;
        grid-template-columns: 1fr auto auto;

        div {
          display: flex;
          align-items: center;
          flex-direction: row;
          input {
            display: none;

            &:checked + label > span.radio:before {
              visibility: visible;
            }

            &:checked + label > span.checkbox:before {
              visibility: visible;
            }
          }

          label {
            span {
              display: inline-flex;
              justify-content: center;
              align-items: center;
              top: 0.5rem;
              border: 3px solid $fg-color;
              margin-right: 0.75rem;

              &.radio {
                border-radius: 50%;
                margin-left: 0.5rem;
                width: 1.8rem;
                height: 1.8rem;

                &:before {
                  content: "";
                  visibility: hidden;
                  background-color: $fg-color;
                  border-radius: 50%;
                  width: 0.8rem;
                  height: 0.8rem;
                }
              }

              &.checkbox {
                border-radius: 3px;
                width: 1.6rem;
                height: 1.6rem;

                &:before {
                  content: "";
                  visibility: hidden;
                  margin-bottom: 0.2rem;
                  border-right: 3px solid $fg-color;
                  border-bottom: 3px solid $fg-color;
                  width: 0.35rem;
                  height: 0.6rem;
                  transform: rotate(45deg);
                }
              }
            }
          }

          button {
            outline: none;
            border: none;
            background-color: $fg-color;
            color: $bg-color;
            @extend %font;
            padding: 0.5rem 1.3rem;
            margin-left: 0.75rem;
          }
        }
      }
    }

    /********************
          SHOWCASE
    *********************/
    main {
      flex: 1 1 auto;
      margin-top: 1.5rem;
      border: 3px solid $fg-color;
      overflow: scroll;
      // Loader
      div {
        &.loader {
          height: 100%;
          display: flex;
          justify-content: center;
          align-content: center;
          background-image: url("../img/loading.gif");
          background-repeat: no-repeat;
          background-position: 52% 45%;
        }
        &.error {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: -4%;
          p {
            border: none;
          }
        }
      }

      p {
        padding: 1.5rem;
        padding-right: 0.75rem;
        &:nth-of-type(odd) {
          border-bottom: 3px solid $fg-color;
        }
        &:nth-of-type(even) {
          background-color: $fg-color;
          color: $bg-color;
        }

        &:last-of-type {
          border: none;
        }
      }
    }

    /********************
           FOOTER
    *********************/
    footer {
      flex: 0 1 auto;
      position: scroll;
      bottom: 0;
      // padding: 2rem 0rem;
      padding: 1rem 0rem 1.3rem 0rem;

      input {
        width: 6ch;
        outline: none;
        border: none;
        border-bottom: 2.5px solid $fg-color;
        background-color: $bg-color;
        color: $fg-color;
        @extend %font;
        padding-left: 0.25rem;
        padding-bottom: 0.25rem;

        &:nth-of-type(2) {
          width: 7ch;
        }
      }
    }
  }
}
